.banner {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: visible;
    position: relative;
}

.slider {
    position: absolute;
    width: 150px;
    height: 200px;
    transform-style: preserve-3d;
    animation: autorun 20s linear infinite;
}

@keyframes autorun{
  from{
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to{
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.item {
    position: absolute;
    width: 100%;
    height: 100%;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(300px);
}

.item img {
    position: absolute; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
}